.actor-page-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  padding: 0 3% 0 3%;
  position: absolute;
  top: 0;
  height: 100vh;

  .actor-page-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 40%;
      border-radius: 1rem;
    }
  }

  .actor-page-second-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .actor-biography {
      margin-bottom: 6%;
      font-family: "Hind", sans-serif;
      color: #222;
    }
    h1 {
      margin-bottom: 6%;
      color: #222;
    }

    .actor-small-info-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 6%;
      color: #222;
      width: 100%;
      .release-date-container > p {
        color: #222;
      }

      .vote-average-container > p {
        color: #222;
      }
    }

    .actor-actors-container {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      // margin-bottom: 3%;
      width: 100%;

      .actor-cast-person-container {
        margin-right: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
        a {
          text-decoration: none;
          font-family: "Regular";
          color: #222;
        }

        img {
          padding-bottom: 3%;
          border-radius: 1rem;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  header {
    z-index: 1;
    margin-bottom: 6%;
  }

  .actor-page-container {
    position: static;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .actor-page-img-container {
      width: 100%;
      margin-top: 6rem;
      img {
        width: 80%;
        border-radius: 1rem;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
      }
    }

    .actor-page-second-container {
      width: 100%;
      align-items: normal;

      .actor-biography {
        padding-bottom: 6rem;
      }

      .actor-small-info-container {
        width: 100%;
        padding-bottom: 1.5rem;
        flex-direction: column;
      }

      .actor-biography {
        margin-bottom: 3rem;
        width: 100%;
        text-align: left;
        padding-bottom: 0rem;
      }

      h1 {
        margin-bottom: 0;
        padding: 3rem 0 1.5rem 0;
      }

      .release-date-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        p:nth-child(1) {
          font-weight: bold;
          padding-bottom: 1rem;
        }
      }

      .vote-average-container {
        display: flex;
        width: 100%;
        justify-content: space-between;

        p:nth-child(1) {
          font-weight: bold;
        }
      }

      .actor-actors-container {
        display: flex;
        justify-content: none;
        align-items: none;
        margin-bottom: 3%;
        .actor-cast-person-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0rem;
          a {
            text-decoration: none;
          }
          img {
            border-radius: 1rem;
            width: 150px;
            padding-bottom: 6%;
          }
        }
      }
    }
  }
}
