@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("RoobertTRIAL-Regular"),
    url("../assets/scss/fonts/RoobertTRIAL-Regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #f8f8f8;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Regular", sans-serif;
  color: white;
}

p,
a {
  font-family: "Regular";
  color: white;
}
