@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: black;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

p,
a {
  font-family: "Hind", sans-serif;
  color: white;
}
