@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Krona+One&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: black;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Krona one", sans-serif;
  color: white;
}

p,
a {
  font-family: "Hind", sans-serif;
  color: white;
}
