#App {
  height: 100%;
}

p {
  color: #222222;
  line-height: 1.5rem;
}

.genre-title {
  width: 100%;
  padding: 0 0 0 1.5%;
}

.genre-title-text {
  font-size: 6rem;
  color: #222222;
  margin-top: 4rem;
  margin-left: 1rem;
}

.browse-movies-container {
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movies-container {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  height: 100%;
  scroll-behavior: smooth;
  flex-direction: row;
}

.movie-details {
  justify-content: center;
  p:nth-child(1) {
    display: none;
  }
  .vote-container {
    display: flex;
  }
}

@media all and (max-width: 480px) {
  .browse-movies-container {
    position: static;
    padding: 0;
    height: 100%;
    .genre-title {
      position: static;
      padding: 0% 0% 0% 0%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 6rem;
      h4 {
        position: static;
        font-size: 2rem;
        margin-bottom: 3%;
        padding: 0;
        margin: 0;
      }
    }
  }

  .movie-details {
    justify-content: space-between;
    p:nth-child(1) {
      display: block;
    }
  }

  .movies-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
}
