.movie-page-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  padding: 0 3% 0 3%;
  position: absolute;
  top: 0;
  height: 100vh;

  .movie-page-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 60%;
    }
  }

  .movie-page-second-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .movie-biography {
      margin-bottom: 6%;
    }
    h1 {
      margin-bottom: 6%;
    }

    .movie-small-info-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 6%;
      color: lightgray;
      width: 100%;
    }

    .movie-actors-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      overflow-x: scroll;
      margin-bottom: 3%;
      width: 100%;

      .movie-cast-person-container {
        margin-right: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
          text-decoration: none;
        }

        img {
          padding-bottom: 3%;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  header {
    z-index: 1;
    margin-bottom: 6%;
  }

  .movie-page-container {
    position: static;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .movie-page-img-container {
      width: 100%;
      margin-bottom: 6%;
      img {
        width: 40%;
      }
    }

    .movie-page-second-container {
      width: 100%;

      .movie-small-info-container {
        width: 100%;
        margin-bottom: 6%;
      }

      .movie-biography {
        margin-bottom: 6%;
      }

      .movie-actors-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .movie-cast-person-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-left: 6%;
          a {
            text-decoration: none;
          }
          img {
            width: 150px;
            padding-bottom: 6%;
          }
        }
      }
    }
  }
}
