.movie-page-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  padding: 0 3% 0 3%;
  position: absolute;
  top: 0;
  height: 100vh;
  .bold-text {
    font-weight: bold;
  }

  .movie-page-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 40%;
      border-radius: 1rem;
    }
  }

  .mobile-movie-title {
    display: 0;
  }

  .movie-page-second-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .movie-biography {
      margin-bottom: 6%;
      font-family: "Hind", sans-serif;
    }

    .movie-small-info-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 6%;
      width: 100%;
    }

    .movie-actors-container {
      width: 100%;
      display: flex;
      overflow-x: scroll;
      scroll-behavior: smooth;
      flex-direction: row;
      margin-bottom: 3%;
      .movie-cast-person-container {
        margin-right: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
          text-decoration: none;
          font-family: "Regular";
        }

        img {
          padding-bottom: 3%;
          border-radius: 1rem;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  header {
    z-index: 1;
    margin-bottom: 6%;
  }

  .desktop-movie-title {
    display: none;
  }

  .mobile-movie-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0 1rem 0;
    h1 {
      font-size: 1.5rem;
    }
    .vote-average-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      p:nth-child(1) {
        font-weight: bold;
        padding: 0rem 0rem 0rem 0rem;
      }
    }
  }

  .genre-container {
    display: flex;
    margin-bottom: 1rem;
    .badge {
      cursor: default;
      background: #353535;
      border-radius: 1rem;
      margin-right: 0.5rem;
      align-items: center;
      width: fit-content;
      p {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        color: white;
        width: 100%;
      }
    }
  }

  .movie-page-container {
    position: static;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .movie-page-img-container {
      width: 100%;
      margin-top: 6rem;
      img {
        width: 80%;
        border-radius: 1rem;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
      }
    }

    .movie-page-second-container {
      width: 100%;
      align-items: normal;

      .movie-biography {
        padding-bottom: 3rem;
      }

      .movie-small-info-container {
        display: none;
      }

      .movie-biography {
        width: 100%;
        text-align: left;
      }

      .release-date-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        p:nth-child(1) {
          font-weight: bold;
          padding-bottom: 1rem;
        }
      }

      .movie-actors-container {
        display: flex;
        .movie-cast-person-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a {
            text-decoration: none;
          }
          img {
            border-radius: 1rem;
            width: 150px;
            padding-bottom: 6%;
          }
        }
      }
    }
  }
}
