header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3% 1.5% 3%;
}

.mobile-menu-container {
  display: none;
}

.mobile-menu-false {
  display: none;
}

.menu-desktop {
  width: 30%;
}

.header-logo {
  text-decoration: none;
}

.header-logo a {
  padding: 0 3% 0 3%;
  transition: 0.3s all ease-in-out;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-desktop a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.header-logo a {
  opacity: 0.6;
}

.menu-desktop a:hover {
  opacity: 0.6;
}

@media all and (max-width: 480px) {
  .menu-desktop {
    display: none;
  }

  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 0 3%;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  header a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .mobile-menu-btn {
    cursor: pointer;
  }

  .mobile-menu-true {
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
  }

  .mobile-menu-false {
    display: none;
  }

  .mobile-menu-item {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    list-style: none;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-1rem);
  }
}
