header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3% 1.5% 3%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(248, 248, 248, 0.8);
  color: #222222;
}

.noice-background-true {
  min-height: 100vh;
  min-width: 100%;
  background-image: url(../assets/scss/gifs/background_gif.gif);
  background-position: center;
  // background-repeat: no-repeat;
}

.mobile-menu-container {
  display: none;
}

.mobile-menu-false {
  display: none;
}

.menu-desktop {
  width: 40%;
}

.header-logo {
  text-decoration: none;
  color: #222222;
}

.header-logo a {
  padding: 0 3% 0 3%;
  transition: 0.6s all ease-in-out;
  font-size: 1rem;
  color: #222222;
}

.header-loglo-title {
  font-size: 1.5rem;
  color: #222222;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    font-size: 1.5rem;
    color: #222222;
  }
}

.menu-desktop a {
  text-decoration: none;
  transition: 0.6s all ease-in-out;
}

.header-logo a {
  opacity: 0.6;
}

.menu-desktop a:hover {
  opacity: 0.6;
}

/* mobile */

@media all and (max-width: 480px) {
  .menu-desktop {
    display: none;
  }

  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 0 3%;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 0%;
    background-color: rgba(248, 248, 248, 0.8);
    color: #222222;
  }

  header a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #222222;
    font-weight: bold;
  }

  .mobile-menu-btn {
    cursor: pointer;
  }

  .mobile-menu-true {
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    background-color: rgba(248, 248, 248, 0.8);
  }

  .mobile-menu-false {
    display: none;
  }

  .mobile-menu-item {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    list-style: none;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-1rem);
  }
}
