@media all and (max-width: 480px) {
  .popularMovies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  // .popular-movie-div {
  //   padding: 0 2rem 0 2rem;
  // }

  .popular-movie-div img {
    width: 40%;
    border-radius: 1rem;
  }

  // .popular-movie-div a {
  //   display: none;
  // }
}
