#App {
  height: 100%;
}

.site-title {
  width: 100%;
  padding: 0 0 0 1.5%;
  position: relative;
}

.site-title-text {
  font-size: 6rem;
}

.toprated-movies-container {
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topratedMovies {
  display: flex;
  overflow-x: scroll;
}

.toprated-movie-title {
  font-size: 2rem;
  text-decoration: none;
}

.toprated-movie-overview {
  font-size: 1rem;
}

.toprated-movie-div {
  min-width: 30%;
  padding: 0 1.5% 0 1.5%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid white;
}

.toprated-movie-poster {
  display: none;
}

/* img hover effect */

.hover-reveal {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 75%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease-out;
}

.hover-reveal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: text-transform 0.5s ease-out;
}

@media all and (max-width: 480px) {
  .toprated-movies-container {
    position: static;
    padding-left: 3%;
  }

  .site-title-text {
    font-size: 3rem;
    margin-bottom: 3%;
  }

  .topratedMovies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .toprated-movie-div {
    margin-bottom: 24%;

    .toprated-movie-title {
      margin-bottom: 3%;
    }
  }

  .toprated-movie-div img {
    width: 40%;
    border-radius: 1rem;
  }

  // .popular-movie-div a {
  //   display: none;
  // }
}
